
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    font-family: "Kanit", serif;
    font-weight: 300;
    font-style: normal;

}
p{
    color:black;
    font-size: 20px;
    text-align: center;
    align-items: center;
}


.container {
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 500px;
    height: 90vh; 
    background: rgb(3, 184, 255); 
    color: WHITE;
    padding: 30px;
    border-radius: 0 0 1000px 0;
    box-shadow: 0 0 15px white;

    text-align: center;
   

}
.wrapper{
    position:relative;
    width:400px;
    height:500px;
    box-shadow: 0 0 15px aqua;
    border: 2px solid black;
    border-radius: 20px;
    padding:40px;
    margin-left: 60%;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100% ;
    

}
h1{
    font-size: 40px;
    color: White;
    text-align: center;

}
.input{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px 0;
    
    border-bottom: 2px solid #fff;
}
.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #fff;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: transform 0.3s ease;
}
.input input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: white;
    padding: 0 50px;
    background: transparent;
    outline: none;
    border: none;
    
}
.input input:focus ~ label,
.input input:valid ~ label{
    opacity: 0;
    
}
.input i{
    color: white;
    font-size: 20px;
   

}
.remeber{
    margin: 25px 0;
}    
.remeber label{
    color: white;
    font-size: 16px;

}
.remeber label input{
    accent-color: aqua;
    border: none;
    outline: none;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width:100%;
    color:  white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px aqua;
    border-radius: 10px;
    margin: 30px 0;
    
}
.icons{
    color: white;
    margin: 15px;
    font-size:30px;
    display: flex;
    justify-content: space-between;
}
.icons i{
    border: 2px solid white;
    border-radius:50%;
    box-shadow: 0 0 10px white;
    margin:0px 10px;
}
.icons i:hover{
    transition: translate up 0.3s ease;
    background-color: aqua;
    box-shadow: 0 0 10px white;

}
button:hover{
    background-color: aqua;
    box-shadow: 0 0 10px white;
}
.sign-up{
    margin: px 5px 15px 15px;
    padding: 10px;
}
.sign-up p{
    color:white;
    font-size: 15px;
    
}
.sign-up a{
    color:Red;
    text-decoration: none;
    
}
.forget-pass  a {
    text-decoration: none;
    color: red;
}